In [ ]:
#conda config --add channels conda-forge
! pip install python-snappy
! pip install fastparquet
! pip install gsheets

import numpy as np
import pandas as pd
from google.colab import files
#from fastparquet import ParquetFile

Collecting python-snappy
  Downloading https://files.pythonhosted.org/packages/df/bd/a1040e2e04df42fb07e080e74f6464f6a5898bdefe6d08a210e3c3278fb9/python_snappy-0.6.0-cp37-cp37m-manylinux2010_x86_64.whl (55kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 61kB 2.9MB/s
Installing collected packages: python-snappy
Successfully installed python-snappy-0.6.0
Collecting fastparquet
  Downloading https://files.pythonhosted.org/packages/15/f9/6e0bf569b21afc5d5c2702722a5ec5dab744e5e1c2a2369ddc0641710dd5/fastparquet-0.6.2.tar.gz (318kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 327kB 4.1MB/s
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.1.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from fastparquet) (1.19.5)
Collecting thrift>=0.11.0
  Downloading https://files.pythonhosted.org/packages/97/1e/3284d19d7be99305eda145b8aa46b0c33244e4a496ec66440dac19f8274d/thrift-0.13.0.tar.gz (59kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 61kB 6.2MB/s
Collecting cramjam>=2.3.0
  Downloading https://files.pythonhosted.org/packages/0b/c8/cd86a067cd48c479e8b8a83967fff046aa11dd734af5f83d96df6c45fcd4/cramjam-2.3.0-cp37-cp37m-manylinux2010_x86_64.whl (1.4MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.4MB 32.7MB/s
Collecting fsspec
  Downloading https://files.pythonhosted.org/packages/e9/91/2ef649137816850fa4f4c97c6f2eabb1a79bf0aa2c8ed198e387e373455e/fsspec-2021.4.0-py3-none-any.whl (108kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 112kB 46.2MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.0->fastparquet) (2.8.1)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.7/dist-packages (from thrift>=0.11.0->fastparquet) (1.15.0)
Building wheels for collected packages: fastparquet, thrift
  Building wheel for fastparquet (setup.py) ... done
  Created wheel for fastparquet: filename=fastparquet-0.6.2-cp37-cp37m-linux_x86_64.whl size=901828 sha256=8ee01a95f1443556de004716fe817e81fab13daba9638accfc224fdc8e699911
  Stored in directory: /root/.cache/pip/wheels/23/c8/88/38e27d1e0ad5d8d63aedfe619894d24442c226dbae2f76304b
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.13.0-cp37-cp37m-linux_x86_64.whl size=348132 sha256=1663cbc52563359127017d335f0d62a4da79d54cd85a58ad882ecb67978de0f0
  Stored in directory: /root/.cache/pip/wheels/02/a2/46/689ccfcf40155c23edc7cdbd9de488611c8fdf49ff34b1706e
Successfully built fastparquet thrift
Installing collected packages: thrift, cramjam, fsspec, fastparquet
Successfully installed cramjam-2.3.0 fastparquet-0.6.2 fsspec-2021.4.0 thrift-0.13.0
Collecting gsheets
  Downloading https://files.pythonhosted.org/packages/99/7f/819ba0b58eacc73095608404f92f3ca291bf6e46625acbc24925240bf250/gsheets-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: oauth2client>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gsheets) (4.1.3)
Requirement already satisfied: google-api-python-client; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from gsheets) (1.12.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=1.5.0->gsheets) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=1.5.0->gsheets) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=1.5.0->gsheets) (0.4.8)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=1.5.0->gsheets) (1.15.0)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=1.5.0->gsheets) (0.17.4)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client; python_version >= "3"->gsheets) (0.0.4)
Requirement already satisfied: google-api-core<2dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client; python_version >= "3"->gsheets) (1.26.3)
Requirement already satisfied: google-auth>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client; python_version >= "3"->gsheets) (1.30.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client; python_version >= "3"->gsheets) (3.0.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (56.1.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (2.23.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (3.12.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (2018.9)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (1.53.0)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (20.9)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client; python_version >= "3"->gsheets) (4.2.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (1.24.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2dev,>=1.21.0->google-api-python-client; python_version >= "3"->gsheets) (2.4.7)
Installing collected packages: gsheets
Successfully installed gsheets-0.5.1

In [ ]:
from google.colab import drive
#drive.mount('/content/drive/Shared drives/Venmo Homework 423')
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AY0e-g5ZDJDxq50k6T2_Nrs2QWETFLXVR58MwLCK5vN9DzkZFNqC9coWQus
Mounted at /content/drive

#**Social Network Analysis**

In [ ]:
!sudo apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [56.8 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://archive.ubuntu.com/ubuntu bionic InRelease
0% [11 InRelease gpgv 242 kB] [Waiting for headers] [4 InRelease 43.1 kB/88.7 k^C

In [ ]:
#To use Spark, run the commands below
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 212.3MB 56kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 204kB 13.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=68ed55ec68fed7916dd550460dd8f70dde485abad14b9f886cba5f90777f1d5d
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession\
        .builder\
        .getOrCreate()

In [ ]:
dff = spark.read.parquet("/content/drive/Shareddrives/Venmo Homework 423/VenmoSample.snappy.parquet")
dff.show()

+--------+-------+----------------+-------------------+--------------------+-----------+--------------------+
|   user1|  user2|transaction_type|           datetime|         description|is_business|            story_id|
+--------+-------+----------------+-------------------+--------------------+-----------+--------------------+
| 1218774|1528945|         payment|2015-11-27 10:48:19|                Uber|      false|5657c473cd03c9af2...|
| 5109483|4782303|         payment|2015-06-17 11:37:04|              Costco|      false|5580f9702b64f70ab...|
| 4322148|3392963|         payment|2015-06-19 07:05:31|        Sweaty balls|      false|55835ccb1a624b14a...|
|  469894|1333620|          charge|2016-06-03 23:34:13|                  üé•|      false|5751b185cd03c9af2...|
| 2960727|3442373|         payment|2016-05-29 23:23:42|                   ‚ö°|      false|574b178ecd03c9af2...|
| 3977544|2709470|         payment|2016-09-29 22:12:07|          Chipotlaid|      false|57ed2f4723e064eac...|
| 3766386|4209061|         payment|2016-05-20 10:31:15|     kitchen counter|      false|573e8503cd03c9af2...|
|  730075| 804466|         payment|2016-05-26 04:46:45|                Food|      false|57461d46cd03c9af2...|
| 5221751|4993533|         payment|2016-07-14 22:53:49|               Zaxby|      false|5787b58d23e064eac...|
| 6843582|7308338|         payment|2016-08-31 10:32:46|           Fan sucks|      false|57c64fdf23e064eac...|
| 5317324|3942984|         payment|2016-01-04 09:11:25|                  üë†|      false|5689c6bdcd03c9af2...|
| 1134661|1556430|         payment|2015-10-09 01:53:52|         Thanks babe|      false|5616bbc0cd03c9af2...|
| 4238868|4879587|         payment|2015-10-04 08:28:01|                  üç∫|      false|561080a1cd03c9af2...|
|11719500|8702716|         payment|2016-07-07 21:40:39|                   ‚õΩ|      false|577e69e723e064eac...|
| 3625798|5692302|         payment|2016-10-16 14:43:41|Hey man  it's bee...|      false|58032fad23e064eac...|
|  613908|3045405|          charge|2016-05-07 06:42:17|         Getaway car|      false|572d2bd9cd03c9af2...|
| 4682257|1870271|         payment|2016-02-24 09:14:12|     üîÆ gypsy things|      false|56cd03e4cd03c9af2...|
| 9414481|2869012|         payment|2016-04-09 09:19:46|                  üî¥|      false|570866c2cd03c9af2...|
|  241386|2580543|         payment|2015-05-17 06:00:19|           Furniture|      false|5557cc0407f81c33e...|
|  656477| 656214|          charge|2013-12-14 22:43:27|bed bath mostly b...|      false|52ac6e93d56b6bac5...|
+--------+-------+----------------+-------------------+--------------------+-----------+--------------------+
only showing top 20 rows

## Q1
Write a script to find a user‚Äôs friendsand friends of friends (Friend definition:Auser‚Äôs friend is someone who has transacted with theuser,either sending money to the user orreceiving money from the user).

In [ ]:
dff.createOrReplaceTempView("transaction")

In [ ]:
#friend
friend = spark.sql("""SELECT DISTINCT user1, user2 
FROM transaction
UNION
SELECT DISTINCT user2, user1
FROM transaction
ORDER BY user1, user2
""")
friend.show()
print()

+-----+-------+
|user1|  user2|
+-----+-------+
|    2|     43|
|    2|    220|
|    2| 191142|
|    3|     43|
|    3|     52|
|    3| 263437|
|    3| 567957|
|    3|1079020|
|    3|1204190|
|    3|2382556|
|    3|7854140|
|    4| 122744|
|    4| 125527|
|    4| 125755|
|    4| 187560|
|    4| 221578|
|    4| 968271|
|    4|9271982|
|    6| 676003|
|    6| 688883|
+-----+-------+
only showing top 20 rows

In [ ]:
# friends' friend
friend.createOrReplaceTempView("friend")
friend2 = spark.sql("""SELECT a.user2, b.user1
FROM friend a INNER JOIN friend b ON a.user1 = b.user2
WHERE a.user2 != b.user1
ORDER BY a.user2, b.user1
""")
friend2.show()

+-----+------+
|user2| user1|
+-----+------+
|    2|     3|
|    2|    10|
|    2|    19|
|    2|    96|
|    2|   629|
|    2|  3565|
|    2| 20530|
|    2| 20639|
|    2| 47104|
|    2| 49778|
|    2| 55895|
|    2| 72106|
|    2| 82697|
|    2|183628|
|    2|276439|
|    2|297967|
|    2|307603|
|    2|316862|
|    2|613769|
|    2|851628|
+-----+------+
only showing top 20 rows

## Q6
Now, that you have the list of each user‚Äôsfriends and friends of friends, you are inposition to calculate many social network variables.Use the dynamic analysis, andcalculate the following social network metrics acrossa user‚Äôs lifetime in Venmo (from 0 up to 12months).

Number of friends and number of friends of friends

In [ ]:
#i.
transaction0 = spark.sql("""SELECT DISTINCT user1, user2, datetime  
FROM transaction
UNION
SELECT DISTINCT user2, user1, datetime
FROM transaction
ORDER BY user1, user2
""")
transaction0.show()

+-----+-------+-------------------+
|user1|  user2|           datetime|
+-----+-------+-------------------+
|    2|     43|2016-09-07 07:53:16|
|    2|     43|2016-04-09 09:29:31|
|    2|    220|2012-11-23 06:03:42|
|    2| 191142|2016-09-26 09:56:55|
|    3|     43|2016-06-27 01:14:37|
|    3|     52|2016-09-22 15:30:09|
|    3| 263437|2016-07-22 21:16:37|
|    3| 567957|2016-10-29 09:28:07|
|    3|1079020|2016-10-07 23:37:56|
|    3|1204190|2016-10-09 01:56:24|
|    3|2382556|2016-10-06 10:49:45|
|    3|2382556|2016-10-07 08:50:23|
|    3|7854140|2016-10-09 03:36:13|
|    4| 122744|2012-12-03 03:35:53|
|    4| 125527|2012-12-10 10:27:55|
|    4| 125527|2012-12-15 05:51:12|
|    4| 125755|2013-01-04 10:20:36|
|    4| 187560|2015-06-17 09:23:30|
|    4| 221578|2016-04-17 03:35:09|
|    4| 968271|2014-02-04 06:51:33|
+-----+-------+-------------------+
only showing top 20 rows

In [ ]:
transaction0.createOrReplaceTempView("transaction0")
transaction1 = spark.sql("""SELECT DISTINCT user1, user2, 
FIRST_VALUE(datetime) OVER(PARTITION BY user1 ORDER BY datetime ASC) as user1_first, 
FIRST_VALUE(datetime) OVER(PARTITION BY user1, user2 ORDER BY datetime ASC) as user12_first
FROM transaction0
ORDER BY user1, user2, user1_first, user12_first
""")
transaction1.show()

+-----+-------+-------------------+-------------------+
|user1|  user2|        user1_first|       user12_first|
+-----+-------+-------------------+-------------------+
|    2|     43|2012-11-23 06:03:42|2016-04-09 09:29:31|
|    2|    220|2012-11-23 06:03:42|2012-11-23 06:03:42|
|    2| 191142|2012-11-23 06:03:42|2016-09-26 09:56:55|
|    3|     43|2016-06-27 01:14:37|2016-06-27 01:14:37|
|    3|     52|2016-06-27 01:14:37|2016-09-22 15:30:09|
|    3| 263437|2016-06-27 01:14:37|2016-07-22 21:16:37|
|    3| 567957|2016-06-27 01:14:37|2016-10-29 09:28:07|
|    3|1079020|2016-06-27 01:14:37|2016-10-07 23:37:56|
|    3|1204190|2016-06-27 01:14:37|2016-10-09 01:56:24|
|    3|2382556|2016-06-27 01:14:37|2016-10-06 10:49:45|
|    3|7854140|2016-06-27 01:14:37|2016-10-09 03:36:13|
|    4| 122744|2012-12-03 03:35:53|2012-12-03 03:35:53|
|    4| 125527|2012-12-03 03:35:53|2012-12-10 10:27:55|
|    4| 125755|2012-12-03 03:35:53|2013-01-04 10:20:36|
|    4| 187560|2012-12-03 03:35:53|2015-06-17 09:23:30|
|    4| 221578|2012-12-03 03:35:53|2016-04-17 03:35:09|
|    4| 968271|2012-12-03 03:35:53|2014-02-04 06:51:33|
|    4|9271982|2012-12-03 03:35:53|2016-03-03 12:45:57|
|    6| 676003|2014-06-28 00:18:16|2014-06-28 00:18:16|
|    6| 688883|2014-06-28 00:18:16|2016-05-02 23:47:32|
+-----+-------+-------------------+-------------------+
only showing top 20 rows

In [ ]:
transaction1.createOrReplaceTempView("transaction1")
transaction2 = spark.sql("""SELECT *, CEILING(MONTHS_BETWEEN(user12_first, user1_first)) age
FROM transaction1
WHERE CEILING(MONTHS_BETWEEN(user12_first, user1_first)) <= 12
ORDER BY user1, age
""")
transaction2.show()

+-----+-------+-------------------+-------------------+---+
|user1|  user2|        user1_first|       user12_first|age|
+-----+-------+-------------------+-------------------+---+
|    2|    220|2012-11-23 06:03:42|2012-11-23 06:03:42|  0|
|    3|     43|2016-06-27 01:14:37|2016-06-27 01:14:37|  0|
|    3| 263437|2016-06-27 01:14:37|2016-07-22 21:16:37|  1|
|    3|     52|2016-06-27 01:14:37|2016-09-22 15:30:09|  3|
|    3|1079020|2016-06-27 01:14:37|2016-10-07 23:37:56|  4|
|    3|2382556|2016-06-27 01:14:37|2016-10-06 10:49:45|  4|
|    3|1204190|2016-06-27 01:14:37|2016-10-09 01:56:24|  4|
|    3|7854140|2016-06-27 01:14:37|2016-10-09 03:36:13|  4|
|    3| 567957|2016-06-27 01:14:37|2016-10-29 09:28:07|  5|
|    4| 122744|2012-12-03 03:35:53|2012-12-03 03:35:53|  0|
|    4| 125527|2012-12-03 03:35:53|2012-12-10 10:27:55|  1|
|    4| 125755|2012-12-03 03:35:53|2013-01-04 10:20:36|  2|
|    6| 676003|2014-06-28 00:18:16|2014-06-28 00:18:16|  0|
|    6|4330489|2014-06-28 00:18:16|2015-04-14 04:34:23| 10|
|    8| 900433|2015-08-11 02:08:47|2015-08-11 02:08:47|  0|
|    8| 659067|2015-08-11 02:08:47|2016-02-10 11:55:25|  6|
|    9|    243|2012-06-28 04:28:32|2012-06-28 04:28:32|  0|
|   10|    255|2012-11-25 09:20:39|2012-11-25 09:20:39|  0|
|   10|     43|2012-11-25 09:20:39|2012-12-23 11:08:45|  1|
|   10|     13|2012-11-25 09:20:39|2013-04-13 00:19:10|  5|
+-----+-------+-------------------+-------------------+---+
only showing top 20 rows

In [ ]:
#numbers of friends 
transaction2.createOrReplaceTempView("transaction2")
friendsnum = spark.sql("""SELECT DISTINCT user1, age, COUNT(user2) OVER (PARTITION BY user1 ORDER BY age RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS friends_num
FROM transaction2
ORDER BY user1, age
""")
friendsnum.show()

+-----+---+-----------+
|user1|age|friends_num|
+-----+---+-----------+
|    2|  0|          1|
|    3|  0|          1|
|    3|  1|          2|
|    3|  3|          3|
|    3|  4|          7|
|    3|  5|          8|
|    4|  0|          1|
|    4|  1|          2|
|    4|  2|          3|
|    6|  0|          1|
|    6| 10|          2|
|    8|  0|          1|
|    8|  6|          2|
|    9|  0|          1|
|   10|  0|          1|
|   10|  1|          2|
|   10|  5|          4|
|   10|  8|          5|
|   11|  0|          1|
|   11|  1|          2|
+-----+---+-----------+
only showing top 20 rows

In [ ]:

transaction3 = spark.sql("""SELECT a.user1, a.user2, b.user2 AS user3, CEILING(MONTHS_BETWEEN(b.user12_first, a.user1_first)) age FROM
transaction1 a 
INNER JOIN transaction1 b
ON a.user2 = b.user1
WHERE CEILING(MONTHS_BETWEEN(b.user12_first, a.user1_first)) >= 0
AND CEILING(MONTHS_BETWEEN(b.user12_first, a.user1_first)) <= 12
ORDER BY a.user1, a.user2, b.user2, age
""")
transaction3.show()

+-----+-------+--------+---+
|user1|  user2|   user3|age|
+-----+-------+--------+---+
|    2|     43|      10|  1|
|    2|     43|      96|  7|
|    2|     43|     629| 10|
|    2|     43|    3565|  9|
|    2|     43|   49778|  0|
|    2|     43|   82697|  8|
|    2|     43|  183628|  6|
|    2|    220|       2|  0|
|    3|     43|       3|  0|
|    3|     52|       3|  3|
|    3| 263437|       3|  1|
|    3| 567957|       3|  5|
|    3|1079020|       3|  4|
|    3|1079020|14884139|  5|
|    3|1204190|       3|  4|
|    3|1204190| 2266248|  0|
|    3|2382556|       3|  4|
|    3|7854140|       3|  4|
|    4| 122744|       4|  0|
|    4| 125527|       4|  1|
+-----+-------+--------+---+
only showing top 20 rows

In [ ]:
#friends of friends 
transaction3.createOrReplaceTempView("transaction3")
fof = spark.sql("""SELECT DISTINCT user1, age, COUNT(user3) OVER (PARTITION BY user1 ORDER BY age RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS fof_num
FROM transaction3
ORDER BY user1, age
""")
fof.show()

+-----+---+-------+
|user1|age|fof_num|
+-----+---+-------+
|    2|  0|      2|
|    2|  1|      3|
|    2|  6|      4|
|    2|  7|      5|
|    2|  8|      6|
|    2|  9|      7|
|    2| 10|      8|
|    3|  0|      2|
|    3|  1|      3|
|    3|  3|      4|
|    3|  4|      8|
|    3|  5|     10|
|    4|  0|      1|
|    4|  1|      2|
|    4|  2|      3|
|    4|  6|      4|
|    4| 12|      5|
|    6|  0|      1|
|    6| 10|      2|
|    8|  0|      1|
+-----+---+-------+
only showing top 20 rows

ii. Clustering coefficient of a user's network

In [ ]:
# ii.
friendsnum.createOrReplaceTempView("friendsnum")
fof.createOrReplaceTempView("fof")
main_friend = spark.sql("""SELECT friendsnum.user1, friendsnum.friends_num, fof.age, fof.fof_num, (friends_num / fof_num) AS coefficient
FROM
friendsnum FULL OUTER JOIN fof
ON friendsnum.user1 = fof.user1 
ORDER BY friendsnum.user1, fof.age
""")
main_friend.show()

+-----+-----------+---+-------+-------------------+
|user1|friends_num|age|fof_num|        coefficient|
+-----+-----------+---+-------+-------------------+
|    2|          1|  0|      2|                0.5|
|    2|          1|  1|      3| 0.3333333333333333|
|    2|          1|  6|      4|               0.25|
|    2|          1|  7|      5|                0.2|
|    2|          1|  8|      6|0.16666666666666666|
|    2|          1|  9|      7|0.14285714285714285|
|    2|          1| 10|      8|              0.125|
|    3|          7|  0|      2|                3.5|
|    3|          1|  0|      2|                0.5|
|    3|          3|  0|      2|                1.5|
|    3|          8|  0|      2|                4.0|
|    3|          2|  0|      2|                1.0|
|    3|          3|  1|      3|                1.0|
|    3|          7|  1|      3| 2.3333333333333335|
|    3|          8|  1|      3| 2.6666666666666665|
|    3|          1|  1|      3| 0.3333333333333333|
|    3|          2|  1|      3| 0.6666666666666666|
|    3|          7|  3|      4|               1.75|
|    3|          1|  3|      4|               0.25|
|    3|          2|  3|      4|                0.5|
+-----+-----------+---+-------+-------------------+
only showing top 20 rows

iii.Calculate the page rank of each user

In [ ]:
!pip install graphframes
from graphframes import GraphFrame
from pyspark.sql import SQLContext

Requirement already satisfied: graphframes in /usr/local/lib/python3.7/dist-packages (0.6)
Requirement already satisfied: nose in /usr/local/lib/python3.7/dist-packages (from graphframes) (1.3.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from graphframes) (1.19.5)

In [ ]:
!curl -L -o "/usr/local/lib/python3.7/dist-packages/graphframes-0.8.0-spark2.4-s_2.11.jar" http://dl.bintray.com/spark-packages/maven/graphframes/graphframes/0.8.0-spark2.4-s_2.11/graphframes-0.8.0-spark2.4-s_2.11.jar

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    10  100    10    0     0     35      0 --:--:-- --:--:-- --:--:--    35

In [ ]:
node = spark.sql("""SELECT DISTINCT user1 from transaction UNION SELECT DISTINCT user2 from transaction""")
nodes = node.select(node.user1.alias('id'))

In [ ]:
edge = spark.sql("""SELECT DISTINCT user1,user2 from transaction""")
edges = edge.select(edge.user1.alias('src'),edge.user1.alias('dst'))

In [ ]:
g = GraphFrame(nodes, edges)
results = g.pageRank(resetProbability=0.15)
pagerank = results.vertices

Py4JJavaError: ignored

In [ ]:
fof.write.csv('fof.csv')

In [ ]:
friendsnum.write.csv('friendsnum.csv')

In [ ]:
main_friend.write.csv('main_friends.csv')